* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.carousel_img {
  max-height: 500px;
}

.pagination_border {
  width: 100%;
  height: 20px;
  background-color: transparent;
}
